USE [master]
GO
/****** Object:  Database [Mecafab]    Script Date: 2/06/2025 20:45:24 ******/
CREATE DATABASE [Mecafab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mecafab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mecafab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mecafab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Mecafab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mecafab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mecafab]
GO
/****** Object:  Table [dbo].[Asignacion]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignacion](
	[idAsignacion] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[fechaAsignacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAsignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[codigoCliente] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
	[apellido] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[fechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK__Cliente__885457EE54FA61CA] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[codigoEmpleado] [varchar](10) NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[dni] [char](10) NULL,
	[telefono] [varchar](9) NULL,
	[email] [nvarchar](50) NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [PK__Empleado__5295297C38DAE8B6] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrega]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrega](
	[idEntrega] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[fechaEntrega] [datetime] NOT NULL,
	[observaciones] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[idEstado] [int] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[categoria] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[codigoPago] [varchar](12) NULL,
	[idPedido] [int] NOT NULL,
	[monto] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Pago__BD2295ADEA23FF4B] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[codigoPedido] [varchar](12) NULL,
	[idCliente] [int] NOT NULL,
	[descripcion] [nvarchar](500) NOT NULL,
	[fechaSolicitud] [datetime] NOT NULL,
	[idEstado] [int] NOT NULL,
	[fechaComprometida] [date] NOT NULL,
 CONSTRAINT [PK__Pedido__A9F619B7BC588F03] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] NOT NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguimientoEstado]    Script Date: 2/06/2025 20:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguimientoEstado](
	[idSeguimiento] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[fechaCambio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSeguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Estado] ([idEstado], [descripcion], [categoria]) VALUES (1, N'Registrado', N'Inicial')
INSERT [dbo].[Estado] ([idEstado], [descripcion], [categoria]) VALUES (2, N'En producción', N'Intermedio')
INSERT [dbo].[Estado] ([idEstado], [descripcion], [categoria]) VALUES (3, N'En espera de material', N'Intermedio')
GO
INSERT [dbo].[Rol] ([idRol], [descripcion]) VALUES (1, N'Jefe de taller')
INSERT [dbo].[Rol] ([idRol], [descripcion]) VALUES (2, N'Encargado de produccion')
INSERT [dbo].[Rol] ([idRol], [descripcion]) VALUES (3, N'Personal administrativo')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Empleado_CodigoEmpleado]    Script Date: 2/06/2025 20:45:25 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_Empleado_CodigoEmpleado] UNIQUE NONCLUSTERED 
(
	[codigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Pago_CodigoPago]    Script Date: 2/06/2025 20:45:25 ******/
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [UQ_Pago_CodigoPago] UNIQUE NONCLUSTERED 
(
	[codigoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Pedido_CodigoPedido]    Script Date: 2/06/2025 20:45:25 ******/
ALTER TABLE [dbo].[Pedido] ADD  CONSTRAINT [UQ_Pedido_CodigoPedido] UNIQUE NONCLUSTERED 
(
	[codigoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignacion] ADD  DEFAULT (getdate()) FOR [fechaAsignacion]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF__Cliente__fechaRe__37A5467C]  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Entrega] ADD  DEFAULT (getdate()) FOR [fechaEntrega]
GO
ALTER TABLE [dbo].[Pedido] ADD  CONSTRAINT [DF__Pedido__fechaSol__4222D4EF]  DEFAULT (getdate()) FOR [fechaSolicitud]
GO
ALTER TABLE [dbo].[Pedido] ADD  CONSTRAINT [DF__Pedido__idEstado__4316F928]  DEFAULT ((1)) FOR [idEstado]
GO
ALTER TABLE [dbo].[SeguimientoEstado] ADD  DEFAULT (getdate()) FOR [fechaCambio]
GO
ALTER TABLE [dbo].[Asignacion]  WITH NOCHECK ADD  CONSTRAINT [FK_Asignacion_Empleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[Asignacion] CHECK CONSTRAINT [FK_Asignacion_Empleado]
GO
ALTER TABLE [dbo].[Asignacion]  WITH NOCHECK ADD  CONSTRAINT [FK_Asignacion_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[Asignacion] CHECK CONSTRAINT [FK_Asignacion_Pedido]
GO
ALTER TABLE [dbo].[Empleado]  WITH NOCHECK ADD  CONSTRAINT [FK_Empleado_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Rol]
GO
ALTER TABLE [dbo].[Entrega]  WITH NOCHECK ADD  CONSTRAINT [FK_Entrega_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[Entrega] CHECK CONSTRAINT [FK_Entrega_Pedido]
GO
ALTER TABLE [dbo].[Pago]  WITH NOCHECK ADD  CONSTRAINT [FK_Pago_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Pedido]
GO
ALTER TABLE [dbo].[Pedido]  WITH NOCHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
ALTER TABLE [dbo].[Pedido]  WITH NOCHECK ADD  CONSTRAINT [FK_Pedido_Estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Estado]
GO
ALTER TABLE [dbo].[SeguimientoEstado]  WITH NOCHECK ADD  CONSTRAINT [FK_SeguimientoEstado_Estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[SeguimientoEstado] CHECK CONSTRAINT [FK_SeguimientoEstado_Estado]
GO
ALTER TABLE [dbo].[SeguimientoEstado]  WITH NOCHECK ADD  CONSTRAINT [FK_SeguimientoEstado_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[SeguimientoEstado] CHECK CONSTRAINT [FK_SeguimientoEstado_Pedido]
GO
USE [master]
GO
